<div>
    <h2 class="text-center">¡Bienvenido a CoderCursos!</h2>

    <div class="mt-2">
        <p class="text-center">¿Que desea hacer hoy?</p>
    </div>

    <div class="card-wrapper">
        <!-- Tarjeta de Cursos -->
        <mat-card>
          <mat-card-title>Aquí puede ver los cursos disponibles</mat-card-title>
          <mat-card-content>
            Encuentre todos los cursos que tenemos para ofrecerle y comience a aprender hoy mismo.
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/cursos">
              Ver Cursos
            </button>
          </mat-card-actions>
        </mat-card>
    
        <!-- Tarjeta de Estudiantes -->
        <mat-card>
          <mat-card-title>Aquí puede ver los estudiantes</mat-card-title>
          <mat-card-content>
            Consulte la lista de estudiantes inscritos y sus progresos.
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" routerLink="/estudiantes">
              Ver Estudiantes
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    
</div>

