.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}
  
.card {
    flex: 0 0 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
  
mat-card-title, mat-card-content, mat-card-actions {
    flex: 1;
}
  
/* Tarjeta centrada para los profesores */
.centered-card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.centered-card .card {
    flex: 0 0 400px;
    min-height: 200px;
}