<div>
    <h2 class="text-center">¡Bienvenido a CoderCursos!</h2>

    <div class="mt-2">
        <p class="text-center">¿Que desea hacer hoy?</p>
    </div>

    <div class="card-wrapper">
        <!-- Tarjeta de Cursos -->
        <mat-card class="card">
          <mat-card-title class="pl-3">Ver los cursos disponibles</mat-card-title>
          <mat-card-content>
            Consulte la lista de cursos disponibles y sus detalles.
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button routerLink='courses'>
                Ver Cursos
            </button>
          </mat-card-actions>
        </mat-card>
    
        <!-- Tarjeta de Estudiantes -->
        <mat-card class="card">
          <mat-card-title class="pl-3">Ver estudiantes</mat-card-title>
          <mat-card-content>
            Consulte la lista de estudiantes inscritos y sus progresos.
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button routerLink='students'>
                Ver Estudiantes
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- Tarjeta de Usuarios -->
    <div class="centered-card">
        <mat-card class="card">
        <mat-card-title class="pl-3">Ver Usuarios</mat-card-title>
        <mat-card-content>
            Consulte la lista de usuarios y administre su información.
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink='users'>
                Ver Usuarios
            </button>
        </mat-card-actions>
        </mat-card>
    </div>
</div>

