<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p class="text-center" appTitles>CoderCursos</p>
      <div class="d-flex justify-content-center justify-items-center">
        <button routerLink="students" mat-flat-button style="flex: 1; display: flex; justify-content: center; align-items: center; width: 100%;">
          Estudiantes
        </button>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <app-tool-bar (drawerToggle)="drawer.toggle()"/>
      <router-outlet/>
    </div>
    
  
</mat-drawer-container>