<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
      <a routerLink="students">Ir a mi página</a>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <app-tool-bar (drawerToggle)="drawer.toggle()"/>
      <router-outlet/>
    </div>
    
  
</mat-drawer-container>